@inject UserManager<IdentityUser> userManager
@model EditUserViewModel


@{
    ViewData["Title"] = "Edit User";
}


<h1>Edit User</h1>


<form method="post">
    <div asp-validation-summary="All">
        <div>
            <label asp-for="@Model.User.Id"></label>
            <input asp-for="@Model.User.Id" readonly>
        </div>
        <div>
            <label asp-for="@Model.User..Email"></label>
            <input asp-for="@Model.User.Email">
            <span asp-validation-for="@Model.User.Email"></span>
        </div>
        <div>
            <label asp-for="@Model.User.UserName"></label>
            <input asp-for="@Model.User.UserName">
            <span asp-validation-for="@Model.User.UserName"></span>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Edit User">
            <a class="btn btn-dark" asp-action="UserList">Cancel</a>
        </div>

    </div>
</form>



<table>
    <thead>
        <tr>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
            <a class="btn btn-primary" asp-action="UpdateRoles" asp-route-userId="@Model.User.Id">Update Roles</a>

    </tbody>
</table>