@model UpdateRolesViewModel
@{
    ViewData["Title"] = "Update Roles";
}

<table>
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.User.UserName"></label>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.User.UserName
            </td>
        </tr>
    </tbody>
</table>



<form method="post">
    <div asp-validation-summary="All">
        <div>
            <label>All Roles</label>
        </div>
        <div>
            @for(int i = 0; i < Model.RoleName.Count;i++)
            {
                <div>
                    <input id="@Model.RoleName[i]" asp-for="@Model.EnrolledUser[i]">
                    <label for="@Model.RoleName[i]">@Model.RoleName[i]</label>
                </div>
            }
        </div>
        <div>
            <input asp-route-id="@Model.User.Id" type="submit" value="Update Roles" class="btn btn-success">
            <a asp-action="EditUser" asp-route-id="@Model.User.Id" class="btn btn-dark">Edit User</a>
        </div>
    </div>
</form>